<head>
    <title>Chat app</title>
</head>

<body>
  <div id="container">
    <div class ="content-container">
      <header class="bar bar-nav">
        <a class="icon icon-left-nav pull-left"></a>
        <h1 class="title">ChatApp</h1>
        <button class="btn pull-right">
          {{> loginButtons align="right"}}
        </button>
      </header>

      <div class="content">
        <div class="content-padded">
          {{> welcome }}
          {{> input}}
          {{> messages}}
          <!-- <img src="http://maps.googleapis.com/maps/api/staticmap?center={{loc.lat}},{{loc.lng}}&zoom=15&size=600x300&maptype=roadmap&markers=color:blue%7C{{loc.lat}},{{loc.lng}}" /> -->
          {{#if error}}
            <p>Error: {{error.message}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</body>

<template name="welcome">
  <p>
    Welcome to the example chat app! Please log in to show your username.
  </p>
</template>

<template name="messages">
  {{#each messages}}
    <div class="card">
      <strong>{{name}}:</strong> {{message}}<br>
      <small>
        {{formatTime createdAt}}
      </small>
    </div>
  {{/each}}
</template>

<template name="input">
  <p>Message: <input type="text" id="message"></p>
</template>
